.tutor-filter{
    display: flex;
    flex-direction: column;
}


.tutor-category{
  margin-top: 39px;
  font-size: 20px;
  background-color: #fff;
  padding: 20px;
  border-radius: 20px;
  box-shadow: #091e5a;
}
.tutor-category>ul{
  list-style: none;
  padding: 8px;
  cursor: pointer;
}
.tutor-category ul >li{
  opacity: 0.8;
  margin-top: 10px;
  display: flex;
  gap: 4px;
}
.tutor-category ul >li:hover{
color: blue;
transform: scale(1.02);
transition: 200ms ease;
}
.filter-page{
  font-size: 30px;
}
@media (max-width:855px)
{

  .tutor-category{
    font-size: 10px;
  }
  .tutor-category ul >li{
    font-size: 10px;
    display: flex;
    gap: 4px;
  }

}
@media (max-width:640px){
  .tutor-card{
    display: flex;
    flex-wrap: wrap;
    width: 108%;
  }
 .tutor-section{
  flex-direction: column-reverse;
 }



 ::placeholder{
  font-size: 10px;
 }
 .tutor-button{
  display: flex;
 }
 .filter{
  display: flex;
  justify-content: center;
  gap: 50px;
 }
 .tutor-category{
  width: 100px;
 }

 .tutor-detail{
  width: 180px;
}
}