.tutor-detail .category {
    margin-top: 30px;
  }

  .tutor-detail>p {
    margin-top: 20px;
    margin-bottom: 20px; /* You can adjust this value as needed */
    overflow-y:visible;
    overflow-x:visible; 
    max-height: 100px;
}

  .tutor-detail {
    width: 100%;
    padding: 10px;
    box-sizing: border-box;
    word-wrap: break-word;
  }

  .tutor-detail {
    width: 100%;
    padding: 10px;
    box-sizing: border-box;
    word-wrap: break-word;
    overflow: auto; /* You can change this to auto or scroll if needed */
  }
  
  .tutor-contact {
    display: flex;
    flex-direction: column;
    justify-content: center;
    width: 25%; /* Adjust the width as needed */
    border-left: 1px solid #ddd; /* Add a separator line */
    padding-left: 20px; /* Add padding to separate from the border */
  }